name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
  workflow_dispatch:

jobs:
  build:
    strategy:
        matrix:
            os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os  }}

    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: 'x64'

      - uses: actions/checkout@v2

      - name: Setup hererocks and run tests (Linux)
        if: matrix.os != 'windows-latest'
        run: |
          pip3 install hererocks
          hererocks -j 2.1.0-beta3 -r latest env
          source env/bin/activate
          luarocks test

      - name: Setup hererocks and run tests (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          pip3 install hererocks
          hererocks -j 2.1.0-beta3 -r latest env
          env/bin/activate.bat
          luarocks test
